{% extends 'base.html' %}
{% block content %}
<form class="pure-form pure-form-stacked" method="post">
    <fieldset>
        {% if success %}
            <p>Um email foi <enviado></enviado><p>
        {% else %}
        {% csrf_token %}
        <legend>Olá punheteiro</legend>
        {{ form.non_field_errors }}
        {% for field in form %}
        <div>
            {{ field.label_tag }}
            {{ field }}
            {{field.errors}}
            {% endfor %}
        </div>
        {% endif %}
        <button type="submit" class="pure-button pure-button-primary">Resetar</button>
    </fieldset>
</form>
{% endblock %}